@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 224 14% 22%;

    --card: 240 100% 99%;
    --card-foreground: 224 14% 22%;

    --popover: 240 100% 99%;
    --popover-foreground: 224 14% 22%;

    --primary: 228 46% 28%;
    --primary-foreground: 240 100% 99%;

    --secondary: 257 100% 93%;
    --secondary-foreground: 224 14% 22%;

    --muted: 257 100% 96%;
    --muted-foreground: 224 14% 45%;

    --accent: 257 100% 93%;
    --accent-foreground: 228 46% 28%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 240 100% 99%;

    --border: 257 100% 90%;
    --input: 257 100% 90%;
    --ring: 228 46% 28%;

    --radius: 0rem;

    --sidebar-background: 240 100% 99%;
    --sidebar-foreground: 224 14% 22%;
    --sidebar-primary: 228 46% 28%;
    --sidebar-primary-foreground: 240 100% 99%;
    --sidebar-accent: 257 100% 93%;
    --sidebar-accent-foreground: 224 14% 22%;
    --sidebar-border: 257 100% 90%;
    --sidebar-ring: 228 46% 28%;
  }

  .dark {
    --background: 227 42% 20%;
    --foreground: 240 100% 99%;

    --card: 224 14% 22%;
    --card-foreground: 240 100% 99%;

    --popover: 224 14% 22%;
    --popover-foreground: 240 100% 99%;

    --primary: 257 100% 93%;
    --primary-foreground: 227 42% 20%;

    --secondary: 228 46% 28%;
    --secondary-foreground: 240 100% 99%;

    --muted: 228 46% 28%;
    --muted-foreground: 240 100% 85%;

    --accent: 257 100% 93%;
    --accent-foreground: 227 42% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 100% 99%;

    --border: 228 46% 35%;
    --input: 228 46% 35%;
    --ring: 257 100% 93%;
    --sidebar-background: 227 42% 20%;
    --sidebar-foreground: 240 100% 99%;
    --sidebar-primary: 257 100% 93%;
    --sidebar-primary-foreground: 227 42% 20%;
    --sidebar-accent: 228 46% 28%;
    --sidebar-accent-foreground: 240 100% 99%;
    --sidebar-border: 228 46% 35%;
    --sidebar-ring: 257 100% 93%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-weight: 300;
    letter-spacing: -0.011em;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: -0.02em;
  }
  
  strong, b {
    font-weight: 500;
  }
}
